.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://wallpapers.com/images/featured/fundo-do-soccer-stadium-vkr4qy2utkrsn5rj.jpg');
}